<section class="logo">
  <div class="row">
    <div class="small-12 large-12 columns text-center">
      <%= link_to(root_path) do %>
          <i class="fa fa-gift fa-5x"></i><h1>Lista Presentes</h1>
      <% end %>
      <h2>Simples e Fácil</h2>
    </div>
  </div>
</section>
<!--
<div class="row">
  <div class="large-12 columns">
    <div class="panel lista text-center">
      <h4>Listas de Presentes</h4>
    </div>
  </div>
</div>
-->
<div class="row">
    <% @listas.each do |lista| %>
      <% if(lista.publica?) %>
        <div class="large-12 columns">
          <div class="panel <%= lista.fechada? ? "lista" : "" %> text-center">
            <i class="fa fa-gift fa-2x left"></i>
            <% if (lista.fechada?) %>
                <i class="fa fa-lock"></i> Encerrada
            <% end %>
            <h4><%= link_to "#{lista.nome} para #{lista.presenteados}", lista_path(lista) %></h4>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
