<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="left">
    <li>
      <%= link_to root_path do %><i class="logo fa fa-gift fa-2x"></i><% end %>
    </li>
  </ul>
  <ul class="title-area">
    <li class="name"><%= link_to 'Lista Presentes', root_path, class: "hide-for-small" %></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <div class="top-bar-section">
      <%= render 'layouts/navigation_links' %>
  </div>
</nav>
